<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator" />
                <binding name="BasicHttpBinding_ICalculator1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculator">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8737/Design_Time_Addresses/WcfApp/MyCalculator/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator1"
                contract="ServiceReference1.ICalculator" name="BasicHttpBinding_ICalculator" />
            <endpoint address="http://localhost:8737/Design_Time_Addresses/WcfApp/MyCalculator/endpoint2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
                contract="ServiceReference1.ICalculator" name="WSHttpBinding_ICalculator" />
        </client>
    </system.serviceModel>
</configuration>